.switch {
  position: relative;
  width: 60px;
  height: 30px;
  background: #ccc;
  border-radius: 50px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s ease;
}

.switch::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.input:checked + .switch {
  background: black;
  border: 1px solid white;
}

.input:checked + .switch::after {
  left: 33px;
}
